# Prompt: email-verification

## Screen: email-verification-result

<p style="text-align: center;">
  <img alt="email-verification-result reference screenshot" class="ul-prompt-screenshot" data-ul-prompt="email-verification-result" src="/media/articles/universal-login/text-customization/email-verification-result.png" style="width: 400px;"/>
</p>

|Text|Key|
|----------|----------|
|Email Verification|`pageTitle`|
|Email Verified|`verifiedTitle`|
|Error|`errorTitle`|
|Your email address was successfully verified.|`verifiedDescription`|
|This account is already verified.|`alreadyVerifiedDescription`|
|User account does not exist or the verification code is invalid.|`invalidAccountOrCodeDescription`|
|Your email address could not be verified.|`unknownErrorDescription`|
|Back to <%= "${clientName}" %>|`buttonText`|
|This ticket was expired.|`auth0-users-expired-ticket`|
|Something went wrong, please try again later.|`custom-script-error-code`|
|This ticket was already used.|`auth0-users-used-ticket`|
|Something went wrong, please try again later|`auth0-users-validation`|
