<table class="table">
  <thead>
    <tr>
      <th width="25%">Library</th>
      <th width="55%">Version</th>
      <th width="20%">Level of Support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/auth0/lock">Lock.js</a></td>
      <td>v11</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/Lock.Android">Lock.Android</a></td>
      <td>v2</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr class="light-top-border">
      <td><a href="https://github.com/auth0/Lock.Android/tree/v1">Lock.Android</a></td>
      <td>v1</td>
      <td><div class="label label-warning">Bug fixes</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/Lock.swift">Lock for iOS v2</a></td>
      <td>v2</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr class="light-top-border">
      <td><a href="https://github.com/auth0/Lock.swift/tree/v1">Lock for iOS v1</a></td>
      <td>v1</td>
      <td><div class="label label-warning">Bug fixes</div></td>
    </tr>
  </tbody>
</table>
