<% var terminated = false; %>
<% var i=0; _.forEach(addons, function(article) { %>
  <% if (article.addon) { %>
    <% if (i === 0) { terminated = false; %>
    <div class="row">
    <% } %>
      <div class="col-xs-6 col-md-3">
        <div class="addon">
          <div class="addon-content">
            <% if (article.public !== false) { %>
            <div class="addon-image-wrap">
              <a href="<%- article.url %>">
                <img class="img-responsive" src="<%- article.image %>" />
              </a>
            </div>
            <h3><a href="<%- article.url %>"><%- article.addon %></a></h3>
            <% } else { %>
            <div class="addon-image-wrap">
              <img class="img-responsive" src="<%- article.image %>" />
            </div>
            <h3><%- article.addon %></h3>
            <% } %>
          </div>
        </div>
      </div>
    <% i++; if (i === 4) { i=0; terminated = true; %>
    </div>
    <% } %>
  <% } %>
<% }); %>
<% if (terminated === false) { terminated = true; %>
    </div>
<% } %>
<% addons = []; %>