<% var terminated = false; %>
<% var i=0; _.forEach(connections, function(article) { %>
  <% if (article.connection) { %>
    <% if (i === 0) { terminated = false; %>
    <div class="row">
    <% } %>
      <div class="col-xs-6 col-md-3">
        <div class="connection">
          <div class="connection-content">
            <% if (article.public !== false) { %>
            <div class="connection-image-wrap">
              <a href="<%- '/docs' + article.url %>">
                <img class="img-responsive" src="<%- '/docs' + article.image %>" />
              </a>
            </div>
            <h3><a href="<%- '/docs' + article.url %>"><%- article.connection %></a></h3>
            <% } else { %>
            <div class="connection-image-wrap">
              <img class="img-responsive" src="<%- '/docs' + article.image %>" />
            </div>
            <h3><%- article.connection %></h3>
            <% } %>
          </div>
        </div>
      </div>
    <% i++; if (i === 4) { i=0; terminated = true; %>
    </div>
    <% } %>
  <% } %>
<% }); %>
<% if (terminated === false) { terminated = true; %>
    </div>
<% } %>
<% connections = []; %>
