<section class="architecture-scenarios-content">
  <div class="showcase-section clearfix">
    <h5>Business Scenarios</h5>

    <% _.forEach(_.sortBy(articles.findByHash('architecture-scenarios/business').items, 'order'), function(article) { %>
      <a href="<%- '/docs' + article.url %>" class="architecture-scenarios-card">
        <article>
          <header class="architecture-scenarios__img">
              <figure><img src="<%- article.image %>"></figure>
            </header>
            <div class="architecture-scenarios__text">
              <h3><%- article.title %></h3>
              <!-- <p>JetPrivilege, the award-winning loyalty program for Jet Airways, must deliver a superb user experience for its millions of members, secure valuable personal information and rewards points, and help hu ...</p> -->
            </div>
            <footer class="architecture-scenarios__link">
              <span>Read more</span>
            </footer>
          </article>
      </a>
    <% }); %>
  </div>
  <div class="showcase-section clearfix">
    <h5>Application Configurations</h5>

    <% _.forEach(_.sortBy(articles.findByHash('architecture-scenarios/application').items, 'order'), function(article) { %>
      <a href="<%- '/docs' + article.url %>" class="architecture-scenarios-card">
        <article>
          <header class="architecture-scenarios__img">
              <figure><img src="<%- article.image %>"></figure>
            </header>
            <div class="architecture-scenarios__text">
              <h3><%- article.title %></h3>
              <!-- <p>JetPrivilege, the award-winning loyalty program for Jet Airways, must deliver a superb user experience for its millions of members, secure valuable personal information and rewards points, and help hu ...</p> -->
            </div>
            <footer class="architecture-scenarios__link">
              <span>Read more</span>
            </footer>
          </article>
      </a>
    <% }); %>
  </div>
</section>