<div class="boxed">
  <h3 class="title">
    <a href="#" class="feature">
      <span class="section-name">Logs</span>
    </a>
  </h3>
  <ul class="list clearfix">
    <div class="clearfix">
      <li data-toggle="popover" class="info" title="">Review the logged data of both actions taken in the dashboard by the administrators, as well as authentications made by your users.</li>
      <li data-toggle="popover" class="info" title="">Facilitate diagnosis and resolution of authentication issues.</li>
    </div>
    <div class="clearfix">
      <li data-toggle="popover" class="info" title="">Longer Storage of log data for your apps.</li>
    </div>
  </ul>
  <p class="log-retention-notice">Your current subscription allows to keep your logs for the last <span class="archive-days">30</span> days.</p>
</div>
