
<% if (meta.tutorials && meta.tutorials.length > 0) { %>
 <h2 id="tutorials" class="anchor-heading"><span id="3" class="anchor" href="#tutorials"><i class="icon icon-budicon-345"></i></span>Tutorials</h2>
 <ul class="list-scenarios">
<% _.forEach(meta.tutorials, function(path) {
  var article = cache.get('articles/' + path); %>
  <li>
    <a class="scenario" href="${article.url}">
      <div class="content">
        <i class="icon-budicon-754"></i>
        <div class="title">${article.title}</div>
      </div>
      <div class="description">${article.description}</div>
    </a>
  </li>
<% }); %>
<% } %>
</ul>

<% if (meta.scenarios && meta.scenarios.length > 0) { %>
 <h2 id="key-scenarios" class="anchor-heading"><span id="3" class="anchor" href="#key-scenarios"><i class="icon icon-budicon-345"></i></span>Key Scenarios</h2>
 <ul class="list-scenarios">
<% _.forEach(meta.scenarios, function(path) {
  var article = cache.get('articles/' + path); %>
  <li>
    <a class="scenario" href="${article.url}">
      <div class="content">
        <i class="icon-budicon-754"></i>
        <div class="title">${article.title}</div>
      </div>
      <div class="description">${article.description}</div>
    </a>
  </li>
<% }); %>
<% } %>
</ul>

<% if (meta.resources && meta.resources.length > 0) { %>
 <h2 id="other-resources" class="anchor-heading"><span id="3" class="anchor" href="#other-resources"><i class="icon icon-budicon-345"></i></span>Other Resources</h2>
 <ul class="list-scenarios">
<% _.forEach(meta.resources, function(resource) { %>
  <li>
    <a class="scenario resource" href="${resource.link}">
      <div class="content">
        <% var iconClass = "icon-budicon-692";
           switch(resource.type) {
              case "sdk":
                iconClass = "icon-budicon-333";
                break;
              case "sample":
                iconClass = "icon-budicon-342";
                break;
           } %>
        <i class="icon-budicon-342"></i>
        <div class="title">${resource.title}</div>
      </div>
      <div class="description">${resource.subtitle}</div>
    </a>
  </li>
<% }); %>
<% } %>
</ul>
