<table class="table">
  <thead>
    <tr>
      <th width="25%">SDK</th>
      <th width="55%">Version</th>
      <th width="20%">Level of Support</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/auth0/auth0-spa-js">Auth0 Single Page Application SDK</a></td>
      <td>v1</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/auth0.js">Auth0.js</a></td>
      <td>v9</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/Auth0.Android">Auth0 Android</a></td>
      <td>v1</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/Auth0.Swift">Auth0 Swift</a></td>
      <td>v1</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/Auth0.net">Auth0 .NET</a></td>
      <td>v4</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/Auth0-java">Auth0 Java</a></td>
      <td>v1</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/node-auth0">Auth0 Node</a></td>
      <td>v2</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/auth0-python">Auth0 Python</a></td>
      <td>v2</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
    <tr>
      <td><a href="https://github.com/auth0/auth0-php">Auth0 PHP</a></td>
      <td>v5</td>
      <td><div class="label label-primary">Supported</div></td>
    </tr>
  </tbody>
</table>
