<% if (account.userName) { %>
  <p>Get your credentials (Domain, Client ID, and Client Secret) from the <a href="${manage_url}/#/">dashboard</a>. The sample is pre-configured with your <strong>Default App</strong> credentials.</p>
<% } else { %>
  <p>Create an <a href="${manage_url}/login">Auth0 account</a> (or login) and add an authentication client instance from the <a href="${manage_url}/#/">dashboard</a>. Once you create your client, you will be provided with credentials (domain, client ID, and client secret) which should be stored somewhere safe (do not commit this information to your git repo!). After you login, the sample projects available for download will be pre-configured with your <strong>Default App</strong> credentials.</p>
<% } %>
