<% if (account.userName) { %>
  <p>Get your credentials (Domain, Client ID, and Client Secret) from the <a href="https://manage.auth0.com/#/">dashboard</a> and them store somewhere safe. You will need them to configure Angular in your application. The sample will be configured with your Default App credentials.</p>
<% } else { %>
  <p>Create an <a href="https://manage.auth0.com/login">Auth0 account</a> (or login) and add an authentication application instance from the <a href="https://manage.auth0.com/#/">dashboard</a>. Once you create an app, you will be provided with credentials (Domain, Client ID, and Client Secret) which should be stored somewhere safe (do not commit this information to your git repo!). You can download the sample after you login and it will be configured with your Default App credentials.</p>
<% } %>
