<% if (account.userName) { %>
  <p>Fetch your credentials (Domain, Client ID, and Client Secret) from your [dashboard](https://manage.auth0.com/#/) and store somewhere safe. You will need them while configuing Angular in your application.</p>
<% } else { %>
  <p>Create an [Auth0 account](https://manage.auth0.com/login) and an authentication application instance from your [dashboard](https://manage.auth0.com/#/). Once you create an app, you'll be provided with credentials (Domain, Client ID, and Client Secret) which should be stored somewhere safe (do not commit this information to your git repo!).</p>
<% } %>
