<% if (account.userName) { %>
  <p>Get the <strong>client ID</strong> and <strong>domain</strong> for your application from the <a href="${manage_url}/#/">dashboard</a>. 
<% } else { %>
  <p>Create an <a href="${manage_url}/login">Auth0 account</a> (or login) and add an authentication client instance from the <a href="${manage_url}/#/">dashboard</a>. Once you create your client, you will be provided with credentials (Domain, Client ID, and Client Secret) which should be stored somewhere safe (do not commit this information to your git repo!). 
<% } %>
