<div id="package" class="package" data-swiftype-index="false">
  <div class="package-content clearfix">
    <div class="package-information">
      <h3 class="package-header">Sample Project</h3>
      <% if (account.userName) { %>
      <p class="package-description configured">
        Download this sample project configured with your Auth0 API Keys.
      </p>
      <% } else { %>
      <p class="package-description not-configured">
        Download this sample project to get started on this tutorial.
        <br>
        <span class="need-to-login">Log In to have your Auth0 credentials preconfigured.</span>
      </p>
      <% } %>
    </div>
    <div class="package-buttons">
      <% if (account.clientId && account.clientId !== 'YOUR_CLIENT_ID') { %>
      <a href="/package/v2?org=${org}&repo=${repo}&path=${path}&client_id=${account.clientId}" class="btn btn-sm btn-success" rel="nofollow">Download</a>
      <% } else { %>
      <a href="/package/v2?org=${org}&repo=${repo}&path=${path}" class="btn btn-sm btn-success" rel="nofollow">Download</a>
      <% } %>
      <a href="https://github.com/${org || 'auth0-samples'}/${repo}/tree/master/${path}" class="github-link" rel="nofollow">Fork on Github</a>
    </div>
  </div>
  <% if (typeof requirements !== 'undefined') { %>
  <div class="package-requirements">
    <div class="package-requirements-header">System Requirements</div>
    <ul class="package-requirements-list">
      <% requirements.forEach(req => { %>
      <li><span>${req}</span></li>
      <% }); %>
    </ul>
  </div>
  <div class="package-requirements-toggle">
    <span class="text">Show requirements</span>
    <i class="icon icon-budicon-460"></i>
  </div>
  <% } %>
</div>
