<div id="package" class="package">
  <div class="row">
    <div class="info">
      <i class="icon-budicon-715"></i>
    <% if (account.userName) { %>
      <p class="configured">Download a sample project configured with your Auth0 API Keys.</p>
    <% } else { %>
      <p>Download a sample project.</p>
    <% } %>
    </div>
    <div class="button-area">
    <% if (typeof pkgRepo != 'undefined') { %>
      <%
      if (typeof pkgBranch === 'undefined') {
        var pkgBranch = 'master';
      }
      if (typeof pkgFilePath === 'undefined') {
        var pkgFilePath = '';
      }
      %>

      <% if (account.clientId && account.clientId !== 'YOUR_CLIENT_ID') { %>
      <a href="/package/${pkgRepo}/${pkgBranch}?path=${pkgPath}&file_path=${pkgFilePath}&type=${pkgType}&client_id=${account.clientId}" class="btn btn-sm btn-success" rel="nofollow">Download Sample</a>
      <% } else { %>
      <a href="/package/${pkgRepo}/${pkgBranch}?path=${pkgPath}&file_path=${pkgFilePath}&type=${pkgType}" class="btn btn-sm btn-success" rel="nofollow">Download Sample</a>
      <% } %>
    <% } %>
    <% if (typeof githubUrl != 'undefined') { %>
      <a href="${githubUrl}" class="btn btn-sm btn-default" rel="nofollow">Fork on Github</a>
    <% } %>
    </div>
  </div>
</div>
