<% if (account.userName) { %>
  <p>Fetch your credentials (Domain, Client ID, and Client Secret) from your <a href="${manage_url}/#/">dashboard</a> and store somewhere safe. You will need them while configuing Angular in your application. The sample is configured with your `Default App` credentials if you prefer to start with having a look at it.</p>
<% } else { %>
  <p>Create an <a href="${manage_url}/login">Auth0 account</a> (or log in) and an authentication application instance from your <a href="${manage_url}/#/">dashboard</a>. Once you create an app, you'll be provided with credentials (Domain, Client ID, and Client Secret) which should be stored somewhere safe (do not commit this information to your git repo!). You can start be downloading the sample after you log in as it is configured with your `Default App` credentials</p>
<% } %>
